<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e0ad086-4a39-460e-8607-2511380d01e3" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2024-01-26T12:50:30</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>Vivamus consectetuer hendrerit lacus. Quisque malesuada placerat nisl. Donec vitae sapien ut libero venenatis faucibus.</p>\n<p>Fusce vulputate eleifend sapien. Nulla porta dolor. Fusce fermentum odio nec arcu.</p>\n<p>Quisque id odio. Quisque ut nisi. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros.</p>\n<p>Pellentesque dapibus hendrerit tortor. Aliquam lobortis. Curabitur ullamcorper ultricies nisi.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <header>
      <Value><![CDATA[Welcome to my Headless site]]></Value>
    </header>
  </Properties>
</Content>